<template>
  <main class="px-4 md:px-16">
    <h1 class="my-8 text-2xl text-center">Profile</h1>
    <div id="infos">
      <div>
        <p>Username</p>
        <p>{{user.username}}</p>
      </div>
      <div>
        <p>E-Mail</p>
        <p>{{user.email}}</p>
      </div>
      <div>
        <p>Full name</p>
        <p>{{account.firstname}} {{account.lastname}}</p>
      </div>
      <div>
        <p>Biography</p>
        <p>{{account.biography}}</p>
      </div>
      <div>
        <p>Created on</p>
        <p>{{creationDate}}</p>
      </div>
    </div>
    <div>
      <h1 class="my-8 text-2xl text-center">Favorites</h1>
      <ProjectCardList class="w-full"
        :projects="projects" :lineCounts="[1, 1, 2]"/>
    </div>
  </main>
</template>

<script>
import { mapState } from 'vuex';
import dateFormat from 'dateformat';
import ApiService from '../../services/api.service';
import ProjectCardList from '../../components/cards/ProjectCardList.vue';

export default {
  name: 'profile',
  components: {
    ProjectCardList,
  },
  data() {
    return {
      projects: [],
    };
  },
  computed: {
    creationDate() {
      const date = new Date(this.account.creationDate);
      return dateFormat(date, 'dd.mm.yyyy');
    },
    ...mapState('user', ['user', 'account']),
  },
  methods: {
    // TODO: add load more action
    fetchFavorites() {
      ApiService.get(`/accounts/${this.account._id}/favourites`, true)
        .then(({ error, data }) => {
          this.projects = error ? [] : data.data.favourites;
        });
    },
  },
  mounted() {
    this.fetchFavorites();
  },
};
</script>

<style lang="scss" scoped>

#infos {
  @apply w-full;

  div {
    @apply flex flex-row my-4;

    p:nth-child(2n+1) {
      @apply text-right font-bold opacity-50 mr-8 w-1/4;
    }

    p:nth-child(2n) {
      @apply text-justify w-3/4 mt-0;
    }
  }
}
</style>
