<template>
  <main v-if="account != null" class="flex flex-col border-t-2 border-b-2 mx-2 my-1">
    <div class="container mx-auto mt-2">
      <p class="text-lg text-center text-2xl"> main settings </p>
    </div>
    <div class="container mx-auto w-2/3 my-2">
      <label class="m-2"> firstname: </label>
      <input type="text" v-model="account.firstname" class="w-full input placeholder-blue-transparent" placeholder="firstname"/>
    </div>
    <div class="container mx-auto w-2/3 my-2">
      <label class="m-2"> lastname: </label>
      <input type="text" v-model="account.lastname" class="w-full input placeholder-blue-transparent" placeholder="lastname"/>
    </div>
    <div class="container mx-auto w-2/3 my-2">
      <label class="m-2"> biography: </label>
      <textarea type="text" v-model="account.biography" class="w-full input placeholder-blue-transparent" placeholder="biography"></textarea>
    </div>
    <div v-if="error" class="text-center text-red-600">{{errorMessage}}</div>
    <div class="container mx-auto w-2/3 mt-2 mb-4 flex justify-center">
      <button v-on:click="save" class="button"> save </button>
    </div>
  </main>
</template>

<script>
import { mapState } from 'vuex';
import store from '@/store';

export default {
  name: 'settings',
  computed: {
    ...mapState('user', ['account']),
  },
  data() {
    return {
      error: false,
      errorMessage: '',
    };
  },
  mounted() {
    store.dispatch('user/fetchAccount');
  },
  methods: {
    save() {
      const data = {
        id: this.account._id,
        firstname: this.account.firstname,
        lastname: this.account.lastname,
        biography: this.account.biography,
      };
      store.dispatch('user/modifyAccount', data).then((b) => {
        this.error = !b;
        if (!b) {
          this.errorMessage = 'error';
        } else {
          this.$router.push({ name: 'profile' });
        }
      });
    },
  },
};
</script>
