<template>
    <div class="flex flex-row flex-wrap">
      <DevlogCard v-for="devlog in devlogs"
        :key="devlog._id" :devlog="devlog"
        class="w-full md:w-1/2 p-4 md:p-8"/>
    </div>
</template>

<script>
import DevlogCard from './DevlogCard.vue';

export default {
  name: 'DevlogCardList',
  components: { DevlogCard },
  props: {
    devlogs: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style lang="postcss" scoped>

</style>
