<template>
  <div>
    <router-link :to="path" class="link text-white-base items-center">
      <h2 class="text-xl">
        {{ devlog.title }}
      </h2>
      <div class="flex justify-between items-startfont-thin italic whitespace-no-wrap ">
        <div v-if="devlog.project.title" class="truncate mr-4">
          {{ devlog.project.title }}
        </div>
        <span class="text-sm">
          Created on {{ creationDate }}
        </span>
      </div>
    </router-link>
  </div>
</template>

<script>
import dateFormat from 'dateformat';

export default {
  name: 'DevlogCard',
  props: {
    devlog: {
      type: Object,
      required: true,
    },
    withReviewCount: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    path() {
      return `/devlogs/${this.devlog._id}`;
    },
    creationDate() {
      const date = new Date(this.devlog.creationDate);
      return dateFormat(date, 'dd.mm.yyyy');
    },
  },
};
</script>
