<template>
    <div class="flex flex-row flex-wrap">
      <ProjectCard v-for="project in projects"
        :key="project._id" :project="project"
        :class="`p-4 w-full w-1/${lineCounts[0]} sm:w-1/${lineCounts[1]} lg:w-1/${lineCounts[2]}`"/>
    </div>
</template>

<script>
import ProjectCard from './ProjectCard.vue';

export default {
  name: 'ProjectCardList',
  components: { ProjectCard },
  props: {
    projects: {
      type: Array,
      required: true,
    },
    lineCounts: {
      type: Array,
      default: () => [1, 2, 3],
    },
  },
};
</script>
