<template>
  <div class="flex">
    <div class="w-full rounded-lg shadow-xl bg-white-base text-blue-dark">
      <router-link :to="`/projects/${project._id}`">
        <img class="w-full h-64 object-cover rounded-tl-lg rounded-tr-lg"
          :src="imagePath" @error="$event.target.classList.add('opacity-0')"/>
      </router-link>
      <div class="p-4">
        <router-link :to="`/projects/${project._id}`" class="text-xl">
          {{ project.title }}
        </router-link>
        <div class="text-blue-dark">
          <FavoriteCount v-if="isAuthenticated" :project="project._id"
            :isFavorite="isFavorite" :favoritesCount="project.favouritesCount"/>
          <FavoriteCount v-else :favoritesCount="project.favouritesCount"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import { library } from '@fortawesome/fontawesome-svg-core';
import { faStar } from '@fortawesome/free-solid-svg-icons';
import FavoriteCount from '../utils/FavoriteCount.vue';

library.add(faStar);

// TODO: find a better way to handle image not found
export default {
  name: 'ProjectCard',
  components: {
    FavoriteCount,
  },
  props: {
    project: {
      type: Object,
      required: true,
    },
  },
  computed: {
    path() {
      return `/projects/${this.project._id}`;
    },
    imagePath() {
      return `${process.env.VUE_APP_BACKEND_URL}/image/project/${this.project._id}/${this.project.imagePath}`;
    },
    isFavorite() {
      return this.account && this.account.favourites.includes(this.project._id);
    },
    ...mapState('user', ['account']),
    ...mapGetters('user', ['isAuthenticated']),
  },
};
</script>
