<template>
  <div class="bg-blue-light">
    <img class="w-full" :src="imagePath" />
    <div class="px-4 md:px-16 py-4 flex-1 flex flex-row justify-between items-center">
      <div class="text-white-transparent self-start">
        <h1 class="text-3xl font-normal">
          {{ project.title }}
          <fa-icon
            class="flex-initial text-xl pr-2 align-top link cursor-pointer"
            v-if="weAreProjectOwner"
            v-on:click="editProject"
            icon="edit"
          />
        </h1>
        <span v-if="owner" class="text-sm italic">By {{owner.firstname}} {{owner.lastname}}</span>
      </div>
      <div v-if="withFavorite">
        <FavoriteCount
          v-if="account"
          class="text-white-transparent"
          :project="project._id"
          :isFavorite="isFavorite"
          :favoritesCount="project.favouritesCount"
        />
        <FavoriteCount
          v-else
          class="text-white-transparent"
          :favoritesCount="project.favouritesCount"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core';
import { faStar, faEdit } from '@fortawesome/free-solid-svg-icons';
import FavoriteCount from '../utils/FavoriteCount.vue';
import ApiService from '../../services/api.service';

library.add(faStar, faEdit);

export default {
  name: 'ProjectHeader',
  components: {
    FavoriteCount,
  },
  props: {
    project: {
      type: Object,
      required: true,
    },
    account: {
      type: Object,
      default: null,
    },
    withFavorite: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      owner: null,
    };
  },
  methods: {
    editProject() {
      this.$router.push({
        name: 'projectEditor',
        params: { id: this.project._id },
      });
    },
    fetchOwner() {
      if (this.project != null) {
        ApiService.get(`/accounts/${this.project.owner}`).then(
          ({ status, data }) => {
            console.log(status, data);
            if (status === 200 && !data.error) {
              this.owner = data.data;
            }
          },
        );
      }
    },
  },
  computed: {
    imagePath() {
      return `${process.env.VUE_APP_BACKEND_URL}/image/project/${this.project._id}/${this.project.imagePath}`;
    },
    isFavorite() {
      return this.account && this.account.favourites.includes(this.project._id);
    },
    weAreProjectOwner() {
      return this.account != null && this.account._id === this.project.owner;
    },
  },
  mounted() {
    this.fetchOwner();
  },
  watch: {
    project() {
      this.owner = null;
      this.fetchOwner();
    },
  },
};
</script>
