.markdown {
  @apply flex flex-col;
}

.markdown h1 {
    @apply text-4xl;
}

.markdown h2 {
    @apply text-2xl my-8;
}

.markdown p {
    @apply  flex flex-col subpixel-antialiased text-left text-justify text-blue-dark my-4;
}

.markdown img{
    @apply   self-center;
}

.markdown ol li {
    @apply ml-8 list-decimal;
}

.markdown ul li {
    @apply ml-8 list-disc;
}

.markdown h1, .markdown h2, .markdown h3 {
    line-height: 1.3;
}

.markdown h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.markdown h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.markdown h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.markdown blockquote {
    border-left: 3px solid rgba(0,0,0,.1);
    color: rgba(0,0,0,.8);
    padding-left: .8rem;
    font-style: italic;
}

.markdown blockquote,
.markdown h1,
.markdown h2,
.markdown h3,
.markdown ol,
.markdown p,
.markdown pre,
.markdown ul {
    margin: 1rem 0;
}

.markdown blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
  }

.markdown code, .markdown tt {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,.05);
    border-radius: 3px;
}

.markdown code, .markdown pre, .markdown tt {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 12px;
}

.markdown table {
    @apply border-collapse border-2 border-gray-500;
}

.markdown th {
    @apply border border-gray-400 px-4 py-2 text-gray-800;
}

.markdown td {
    @apply border border-gray-400 px-4 py-2;
}

.markdown strong {
    font-weight: bold;
}