@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  @apply font-light text-blue-dark;
}

.link:hover {
  @apply text-cyan-dark cursor-pointer;
}

.input-no-style {
  @apply bg-transparent border-none outline-none;
}

.input {
  @apply outline-none rounded border border-blue-dark border;
  @apply px-2 py-1 font-light text-blue-dark;
}

.input:focus {
  @apply border-cyan-dark;
}

.input-success {
  @apply border-green-500;
}

.input-error {
  @apply border-red-500;
}

.input-underlined {
  @apply border-0 border-b;
  @apply rounded-none bg-transparent;
}

.button {
  @apply input border-2 rounded-lg px-4;
  @apply uppercase tracking-widest whitespace-no-wrap;
}
.button:focus {
  @apply outline-none;
}
.button:disabled {
  @apply opacity-25 cursor-not-allowed;
}

.button-primary {
  @apply bg-cyan-light border-none text-white-base;
}

.button-primary:hover {
  @apply bg-cyan-dark;
}

.button-light {
  @apply text-white-transparent font-semibold py-2 px-4 border border-gray-400 rounded shadow;
}

.button-light:hover {
  @apply bg-blue-dark;
}

.button-secondary:hover {
  @apply text-white-transparent bg-blue-light;
}

.button-danger {
  @apply bg-red-600 border-none text-white-base;
}

.button-danger:hover {
  @apply bg-red-700;
}

.button-inverse {
  @apply text-white-transparent border-white-transparent;
}

.button-inverse:hover {
  @apply text-blue-dark bg-white-transparent;
}
