<template>
  <div class="w-auto py-8 px-4 md:px-8 bg-blue-light text-white-transparent">
    <h1 class="text-xl text-center mb-4">Devlogs</h1>
    <DevlogCardList :devlogs="results"/>
    <div class="text-center">
      <button class="button button-inverse mt-8 mb-4"
        :disabled="loading" @click="fetch()">LOAD MORE</button>
    </div>
  </div>
</template>

<script>
import ApiService from '../services/api.service';
import DevlogCardList from '../components/cards/DevlogCardList.vue';

export default {
  name: 'projects',
  components: { DevlogCardList },
  data() {
    return {
      limits: {
        sm: 12, md: 24, lg: 24, xl: 24,
      },
      query: '/devlogs?&sort_by=creationDate.desc',
      results: [],
      loading: false,
    };
  },
  methods: {
    async fetch() {
      const limit = this.limits[this.$mq];
      const offset = this.results.length;

      this.loading = true;
      ApiService.get(
        `${this.query}&limit=${limit}&offset=${offset}`,
      ).then(({ data }) => {
        const result = !data.error ? data.data : [];
        this.results = [...this.results, ...result];

        if (result.length === limit) {
          this.loading = false;
        }
      });
    },
  },
  mounted() {
    this.fetch();
  },
};
</script>
