<template>
  <h2 v-if="loading" class="text-center text-2xl my-8">Loading!</h2>
  <main v-else-if="!error && devlog && project">
    <ProjectHeader :project="project" />
    <section class="w-full px-8 md:px-16 my-8">
      <div class="w-full mb-8">
        <div>
          <h2 class="text-2xl font-bold">
            {{devlog.title}}
            <fa-icon
              class="flex-initial text-xl pr-2 align-top link cursor-pointer"
              v-if="weAreProjectOwner"
              v-on:click="editDevlog"
              icon="edit"
            /><span v-if="!devlog.published">
            <fa-icon
              class="flex-initial text-3xl pr-2  link cursor-pointer text-blue-dark align-text-bottom"
              v-if="weAreProjectOwner"
              v-on:click="publishDevlog(true)"
              icon="check-circle"
            /></span>
            <span v-else>
            <fa-icon
              class="flex-initial text-3xl pr-2  link cursor-pointer text-green-500 align-text-bottom"
              v-if="weAreProjectOwner"
              v-on:click="publishDevlog(false)"
              icon="check-circle"
            /></span>
          </h2>
          <div class="w-full flex justify-between items-baseline">
            <p class="text-sm italic whitespace-no-wrap truncate">Created on {{creationDate}}</p>
            <div class="flex flex-col">
              <router-link
                :to="'/projects/'+project._id"
                class="link whitespace-no-wrap"
              >Back to project</router-link>
            </div>
          </div>
        </div>
      </div>
      <!-- <VueShowdown class="markdown" :markdown="devlog.content"/> -->
      <span class="markdown" v-html="devlog.content"></span>
    </section>
    <Comments :id="devlog._id" type="Devlog" />
  </main>
  <h2 v-else class="text-center text-2xl my-8">Some problem occured. Try again later!</h2>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core';
import { faEdit, faCheckCircle } from '@fortawesome/free-solid-svg-icons';
import { mapGetters, mapState } from 'vuex';
import dateFormat from 'dateformat';
import store from '@/store';
import ProjectHeader from '../components/cards/ProjectHeader.vue';
import Comments from '../components/comments/Comments.vue';

library.add(faEdit, faCheckCircle);

export default {
  name: 'devlog',
  components: {
    ProjectHeader,
    Comments,
  },
  data() {
    return {
      loading: true,
      error: false,
    };
  },
  computed: {
    devlogsURL() {
      return `/devlogs/${this.devlog._id}`;
    },
    creationDate() {
      const date = new Date(this.devlog.creationDate);
      return dateFormat(date, 'mm.dd.yyyy');
    },
    weAreProjectOwner() {
      return this.account != null && this.account._id === this.project.owner;
    },
    ...mapGetters('devlog', ['devlog']),
    ...mapGetters('project', ['project']),
    ...mapState('user', ['account']),
  },
  methods: {
    publishDevlog(publish) {
      store.dispatch('devlog/editDevlog', {
        devlogId: this.devlog._id,
        title: this.devlog.title,
        content: this.devlog.content,
        published: publish,
      });
    },
    editDevlog() {
      this.$router.push({ name: 'devlogEditor', params: { id: this.devlog._id } });
    },
    fetch() {
      this.$store.dispatch('devlog/fetchDevlog', this.$route.params.id)
        .then(() => {
          store.dispatch('project/fetchProject', this.devlog.project)
            .catch(() => { this.error = true; })
            .finally(() => { this.loading = false; });
        }).catch(() => { this.error = true; })
        .finally(() => { this.loading = false; });
    },
  },
  mounted() {
    this.fetch();
  },
  watch: {
    '$route.params.id': function () {
      this.fetch();
    },
  },
};
</script>
