<template>
  <h2 v-if="loading" class="text-center text-2xl my-8">Loading!</h2>
  <main v-else-if="devlog != null" class="w-full text-center flex flex-rows">
    <div class="flex-growth m-4 w-full">
      <textarea v-model="devlog.title" class="w-full input mb-2 placeholder-blue-transparent" name="logTitle" rows="1" placeholder="log title"></textarea>
      <markdown class="w-full mb-2" v-bind:initialContent="devlog.content" @inputData="updateInput"/>
      <div v-if="error" class="text-center text-red-600">{{errorMessage}}</div>
      <div class="flex flex-row justify-between">
      <button class="button button-secondary button-danger " v-on:click="deleteDevlog"> Delete </button>
      <button class="button button-primary " v-on:click="editDevlog" > Save </button>
      </div>
    </div>
    <ImageUploader class="flex-none  m-4 hidden sm:block " v-bind:uploadPath="imageUploadPath"> </ImageUploader>
  </main>
</template>

<script>
import { mapGetters } from 'vuex';
import store from '@/store';
import ApiService from '../services/api.service';
import ImageUploader from '../components/ImageUploader.vue';
import markdown from '../components/Markdown.vue';

export default {
  name: 'devlogEditor',
  components: {
    ImageUploader,
    markdown,
  },
  data() {
    return {
      error: false,
      errorMessage: '',
    };
  },
  mounted() {
  // fetching the devlog
    store.dispatch('devlog/fetchDevlog', this.$route.params.id);
  },
  computed: {
    ...mapGetters('devlog', ['devlog', 'loading']),
    imageUploadPath() {
      return `/image/devlog/${this.$route.params.id}`;
    },
  },
  methods: {
    updateInput(variable) {
      store.commit('devlog/setDevlogContent', variable);
    },
    editDevlog() {
      store.dispatch('devlog/editDevlog', {
        devlogId: this.devlog._id,
        title: this.devlog.title,
        content: this.devlog.content,
      })
        .then(() => { this.clearError(); this.$router.push({ name: 'devlog', params: { id: this.$route.params.id } }); })
        .catch((e) => { this.printError(e); });
    },
    deleteDevlog() {
      ApiService.delete(`/devlogs/${this.devlog._id}`, true).then(() => { this.$router.push(`/projects/${this.devlog.project}`); });
    },
    printError(err) {
      console.log(err);
      this.errorMessage = err.toString();
      this.error = true;
    },
    clearError() {
      this.errorMessage = '';
      this.error = false;
    },
  },
};
</script>
