<template>
  <main class="w-full">
    <div class="bg-blue-light text-white-base py-8 px-4 md:px-16">
      <h1 class="text-xl text-center mb-4">Most recent projects</h1>
      <ProjectCardList :projects="results[0]"/>
      <div class="text-center">
        <button class="button button-inverse mt-8 mb-4"
          :disabled="loadings[0]" @click="fetchMore(0)">LOAD MORE</button>
      </div>
    </div>
    <div class="py-8 px-4 md:px-16">
      <h1 class="text-xl text-center mb-4">
        Most <fa-icon class="text-yellow-400" icon="star"/> projects
      </h1>
      <ProjectCardList :projects="results[1]"/>
      <div class="text-center">
        <button class="button button-secondary mt-8 mb-4"
          :disabled="loadings[1]" @click="fetchMore(1)">LOAD MORE</button>
      </div>
    </div>
    <div class="bg-blue-light text-white-base py-8 px-4 md:px-16">
      <h1 class="text-xl text-center mb-4">Most recent devlogs</h1>
      <DevlogCardList :devlogs="results[2]"/>
      <div class="text-center">
        <button class="button button-inverse mt-8 mb-4"
          :disabled="loadings[2]" @click="fetchMore(2)">LOAD MORE</button>
      </div>
    </div>
  </main>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core';
import { faStar } from '@fortawesome/free-solid-svg-icons';
import ProjectCardList from '../components/cards/ProjectCardList.vue';
import DevlogCardList from '../components/cards/DevlogCardList.vue';
import ApiService from '../services/api.service';

library.add(faStar);

export default {
  name: 'home',
  components: {
    ProjectCardList, DevlogCardList,
  },
  data() {
    return {
      limits: [
        {
          sm: 6, md: 8, lg: 8, xl: 9,
        },
        {
          sm: 6, md: 8, lg: 8, xl: 9,
        },
        {
          sm: 8, md: 16, lg: 16, xl: 16,
        },
      ],
      queries: [
        '/projects?&sort_by=creationDate.desc',
        '/projects?&sort_by=favouritesCount.desc',
        '/devlogs?&sort_by=creationDate.desc&populate=project',
      ],
      results: [[], [], []],
      loadings: [
        false, false, false,
      ],
    };
  },
  methods: {
    async fetch(i, limit, offset) {
      this.$set(this.loadings, i, true);
      ApiService.get(
        `${this.queries[i]}&limit=${limit}&offset=${offset}`,
      ).then(({ status, data }) => {
        const result = status === 200 ? data.data : [];
        this.$set(this.results, i, [...this.results[i], ...result]);

        if (result.length === limit) {
          this.$set(this.loadings, i, false);
        }
      });
    },
    fetchAll() {
      this.results = [[], [], []];
      for (let i = 0; i < this.queries.length; i += 1) {
        this.fetch(i, this.limits[i][this.$mq], 0, true);
      }
    },
    fetchMore(i) {
      this.fetch(i, this.limits[i][this.$mq], this.results[i].length);
    },
  },
  mounted() {
    this.fetchAll();
  },
};
</script>
