<template>
  <div class="flex flex-col items-center p-8">
    <LoginForm class="w-full m-8 md:w-1/2 lg:w-1/3"/>
  </div>
</template>

<script>
import LoginForm from '../components/forms/LoginForm.vue';

export default {
  components: {
    LoginForm,
  },
};
</script>
