<template>
  <main class="w-full text-center flex flex-rows">
    <div class="flex-growth m-4 w-full">
      <textarea id="title" class="w-full input mb-1 placeholder-blue-transparent" name="logTitle" rows="1" placeholder="log title"></textarea>
      <div v-if="error" class="text-center text-red-600">{{errorMessage}}</div>
      <button class="button button-secondary " v-on:click="createDevlog" > submit </button>
    </div>
  </main>
</template>

<script>
import { mapGetters } from 'vuex';
import store from '@/store';

export default {
  name: 'devlogEditor',
  data() {
    return {
      error: false,
      errorMessage: '',
    };
  },
  computed: {
    ...mapGetters('devlog', ['devlog', 'loading']),
  },
  methods: {
    createDevlog() {
    // create a new devlog
      store.dispatch('devlog/createDevlog', {
        title: document.getElementById('title').value,
        content: ' ',
        project: this.$route.params.id,
      })
        .then((resp) => { this.clearError(); this.$router.push({ name: 'devlogEditor', params: { id: resp } }); })
        .catch(err => this.printError(err));
    },
    printError(err) {
      console.log(err);
      this.errorMessage = err.toString();
      this.error = true;
    },
    clearError() {
      this.errorMessage = '';
      this.error = false;
    },
  },
};
</script>
