
<template>
  <main class="w-full text-center">
    <div class="w-full py-2 px-4">
      <h1 class="text-xl text-center mb-4">New project</h1>
      <textarea class="w-full input mb-4 placeholder-blue-transparent" v-model="title" name="project name" rows="1" placeholder="project name"></textarea>
      <!-- <textarea v-model="project.imagePath" class="w-full input mb-1 placeholder-blue-transparent" name="project name" rows="1" placeholder="presentation image url"></textarea> -->
      <input type="file" id="file" ref="myFile" class="w-full mb-4" @change="fileChanged" accept="image/png, image/jpeg"/>
      <div class="markdown">
        <markdown class="w-full mb-2" v-bind:initialContent="description" @inputData="updateInput"/>
      </div>
      <div v-if="error" class="text-center text-red-600 mt-1">{{errorMessage}}</div>
      <button class="button button-secondary mt-2" v-on:click="editProject" > submit </button>
    </div>
    <!-- <ImageUploader class="flex-none m-4" v-bind:uploadPath="imageUploadPath"> </ImageUploader> -->
  </main>
</template>

<script>
import { mapGetters } from 'vuex';
import store from '@/store';
// import ImageUploader from '../components/ImageUploader.vue';
import markdown from '../components/Markdown.vue';

export default {
  name: 'newProject',
  components: {
    markdown,
  },
  data() {
    return {
      error: false,
      errorMessage: '',
      title: '',
      description: '',
      file: null,
    };
  },
  computed: {
    ...mapGetters('project', ['project', 'loading']),
    imageUploadPath() {
      return `/image/project/${this.$route.params.id}`;
    },
  },
  mounted() {
    store.dispatch('project/fetch', this.$route.params.id);
  },
  methods: {
    editProject() {
      if (this.file == null) {
        this.printError('you need to upload a cover image for the project');
        return;
      }
      store.dispatch('project/createProject', {
        title: this.title,
        description: this.description,
        file: this.file,
      }).then((id) => { this.clearError(); this.$router.push({ name: 'project', params: { id } }); })
        .catch(err => this.printError(err));
    },
    updateInput(input) {
      this.description = input;
    },
    printError(err) {
      this.errorMessage = err.toString();
      this.error = true;
    },
    clearError() {
      this.errorMessage = '';
      this.error = false;
    },
    fileChanged() {
      [this.file] = this.$refs.myFile.files;
    },
  },
};
</script>
