<template>
  <main class="w-full text-center flex flex-rows">
    <div v-if="project" class="w-full p-4 flex-growth">
      <textarea v-model="project.title" class="w-full input mb-1 placeholder-blue-transparent" name="project name" rows="1" placeholder="project name"></textarea>
      <textarea v-model="project.imagePath" class="w-full input mb-1 placeholder-blue-transparent" name="project name" rows="1" placeholder="presentation image url"></textarea>
      <input type="file" id="file" ref="myFile" class="w-full mb-4" @change="fileChanged" accept="image/png, image/jpeg"/>
      <div class="markdown">
        <markdown class="w-full mb-2" v-bind:initialContent="project.description" @inputData="updateInput"/>
      </div>
      <div v-if="error" class="text-center text-red-600">{{errorMessage}}</div>
      <!-- <button class="button button-secondary" v-on:click="editProject" > submit </button> -->
      <div class="flex flex-row justify-between">
      <button class="button button-secondary button-danger " v-on:click="deleteProject"> Delete </button>
      <button class="button button-secondary " v-on:click="editProject" > Submit </button>
      </div>
    </div>
  </main>
</template>

<script>
import { mapGetters } from 'vuex';
import store from '@/store';
import ApiService from '../services/api.service';
import markdown from '../components/Markdown.vue';

export default {
  name: 'devlogEditor',
  components: {
    markdown,
  },
  data() {
    return {
      error: false,
      errorMessage: '',
      file: null,
    };
  },
  computed: {
    ...mapGetters('project', ['project', 'loading']),
    imageUploadPath() {
      return `/image/project/${this.$route.params.id}`;
    },
  },
  mounted() {
    store.dispatch('project/fetchProject', this.$route.params.id);
  },
  methods: {
    editProject() {
      store.dispatch('project/editProject', {
        _id: this.$route.params.id,
        title: this.project.title,
        description: this.project.description,
        file: this.file,
      }).then((id) => { this.clearError(); this.$router.push({ name: 'project', params: { id } }); })
        .catch(err => this.printError(err));
    },
    deleteProject() {
      ApiService.delete(`/projects/${this.project._id}`, true).then(() => { this.$router.push('/'); });
    },
    updateInput(input) {
      store.commit('project/setProjectDescription', input);
    },
    printError(err) {
      console.log(err);
      this.errorMessage = err.toString();
      this.error = true;
    },
    clearError() {
      this.errorMessage = '';
      this.error = false;
    },
    fileChanged() {
      [this.file] = this.$refs.myFile.files;
      this.project.imagePath = this.file.name;
    },
  },
};
</script>
