<template>
  <div class="w-auto py-8 px-4 md:px-8 bg-blue-light text-white-transparent">
    <div>
      <h1 class="text-xl text-center mb-8">Projects</h1>
      <ProjectCardList :projects="results" class="w-full"/>
      <div class="text-center">
        <button class="button button-inverse mt-8 mb-4"
          :disabled="loading" @click="fetch()">LOAD MORE</button>
      </div>
    </div>
  </div>
</template>

<script>
import ApiService from '../services/api.service';
import ProjectCardList from '../components/cards/ProjectCardList.vue';

export default {
  name: 'projects',
  components: { ProjectCardList },
  data() {
    return {
      limits: {
        sm: 12, md: 16, lg: 16, xl: 24,
      },
      query: '/projects?&sort_by=creationDate.desc',
      results: [],
      loading: false,
    };
  },
  methods: {
    async fetch() {
      const limit = this.limits[this.$mq];
      const offset = this.results.length;

      this.loading = true;
      ApiService.get(
        `${this.query}&limit=${limit}&offset=${offset}`,
      ).then(({ data }) => {
        const result = !data.error ? data.data : [];
        this.results = [...this.results, ...result];

        if (result.length === limit) {
          this.loading = false;
        }
      });
    },
  },
  mounted() {
    this.fetch();
  },
};
</script>

<style lang="postcss" scoped>
.project-card {

}
</style>
