<template>
  <h2 v-if="loading" class="text-center text-2xl my-8">Loading!</h2>
  <main v-else-if="project">
    <ProjectHeader :project="project" :account="getAccount" :withFavorite="true" />
    <section class="w-full px-8 md:px-16 my-8">
      <h2 class="text-2xl text-justify">Description</h2>
      <span class="markdown text-justify" v-html="project.description"></span>
    </section>
    <section class="w-full bg-blue-light px-8 md:px-16 py-8">
      <h2 class="text-center text-2xl text-white-transparent mb-1">
        Devlogs
        <fa-icon
          class="flex-initial text-2xl pl-2 align-middle link cursor-pointer"
          icon="plus"
          v-if="weAreProjectOwner"
          v-on:click="newDevlog"
        />
      </h2>
      <DevlogCard v-for="devlog in devlogs" :key="devlog._id" :devlog="devlog" />
    </section>
    <Comments :id="project._id" type="Project" />
  </main>
  <h2 v-else class="text-center text-2xl my-8">Some problem occured. Try again later!</h2>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import { faPlus } from '@fortawesome/free-solid-svg-icons';
import { library } from '@fortawesome/fontawesome-svg-core';
import store from '@/store';
import ProjectHeader from '../components/cards/ProjectHeader.vue';
import DevlogCard from '../components/cards/DevlogCard.vue';
import Comments from '../components/comments/Comments.vue';

library.add(faPlus);

export default {
  name: 'project',
  components: {
    DevlogCard,
    ProjectHeader,
    Comments,
  },
  computed: {
    devlogsURL() {
      return `/projects/${this.project._id}/devlogs`;
    },
    getAccount() {
      return this.isAuthenticated ? this.account : null;
    },
    weAreProjectOwner() {
      return this.isAuthenticated && this.account._id === this.project.owner;
    },
    ...mapGetters('project', ['project', 'devlogs', 'loading', 'error']),
    ...mapGetters('user', ['isAuthenticated']),
    ...mapState('user', ['account']),
  },
  methods: {
    newDevlog() {
      this.$router.push({ name: 'new_devlog' });
    },
  },
  created() {
    store.dispatch('project/fetchProject', this.$route.params.id).then(() => {
      store.dispatch('project/fetchDevlogs', {
        idProject: this.$route.params.id,
        owner: this.weAreProjectOwner,
      });
    });
  },
  watch: {
    '$route.params.id': (id) => {
      store.dispatch('project/fetch', id);
    },
  },
};
</script>

<style lang="postcss" scoped>
</style>
