<template>
  <div class="flex flex-col items-center p-8">
    <RegisterForm class="w-full m-8 md:w-1/2 lg:w-1/3"/>
  </div>
</template>

<script>
import RegisterForm from '../components/forms/RegisterForm.vue';

export default {
  components: {
    RegisterForm,
  },
};
</script>
