<template>
  <div class="text-center">
    <h1 v-if="!done" class="text-xl text-blue-dark my-4">Validating your account...</h1>
    <h1 v-if="done && !ok" class="text-red-600 my-4">Validation failed!</h1>
    <div v-if="done && ok">
      <h1 class="text-green-600 my-4">Your account has been validated.</h1>
      <div v-if="!accountCreated" class="flex flex-col items-center p-8">
        <div class="w-full m-8 md:w-1/2 lg:w-1/3 p-4 rounded-lg shadow-lg">
          <h1 class="text-center text-xl my-4">Tell us more about you!</h1>
          <div class="flex flex-col my-4">
            <input class="flex-1 input input-underlined my-2" type="text" v-model="firstname" placeholder="First Name" required>
            <input class="flex-1 input input-underlined my-2" type="text" v-model="lastname" placeholder="LastName" required>
            <input class="flex-1 input input-underlined my-2" type="text" v-model="biography" placeholder="Biography" required>
          </div>
          <div v-if="error" class="text-center text-red-600">
            Creation failed!
          </div>
          <div class="flex justify-around items-center my-4">
            <button class="button button-primary" @click="createAccount({ firstname, lastname, biography })">
              CREATE ACCOUNT
            </button>
          </div>
        </div>
      </div>
      <div v-else class="text-center text-green-600">
        Account created. Sign in <router-link to="/login" class="text-blue-dark link">here</router-link>.
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ValidateAccount',
  data() {
    return {
      ok: false,
      done: false,
      error: false,
      accountCreated: false,
      firstname: '',
      lastname: '',
      biography: '',
      id: null,
      token: null,
    };
  },
  methods: {
    async createAccount(infos) {
      if (infos.firstname === '' || infos.lastname === '') {
        this.error = true;
        return;
      }

      this.error = false;
      this.accountCreated = false;
      this.error = !(await this.$store.dispatch(
        'user/createAccount', { id: this.id, token: this.token, ...infos },
      ));
      if (!this.error) {
        this.accountCreated = true;
      }
    },
  },
  mounted() {
    const t = this;
    const { id, token } = this.$route.query;
    this.id = id;
    this.token = token;

    this.done = false;
    this.ok = false;
    if (id && token) {
      this.$store.dispatch('user/validateAccount', { id, token }).then((ok) => {
        t.ok = ok;
        t.done = true;
      });
    } else {
      this.done = true;
    }
  },
};
</script>
