<template>
  <div class="relative flex items-center px-2 py-1 border-b border-black border-blue-dark">
    <fa-icon icon="search" class="mr-2"/>
    <input class="w-full focus:outline-none font-thin" placeholder="Quick Search ..." type="text"
      v-model="searchText" @keydown.enter="fetchAll">
    <div class="search-result">
      <div v-if="showResults" class="relative bg-white-base p-2 rounded-lg shadow-lg z-10">
        <span class="link absolute top-0 right-0" @click="found">
          <fa-icon icon="times" class="text-xl mt-2 mr-2"/>
        </span>
        <h1 class="text-lg text-center">Projects</h1>
        <search-result :results="results[0]" link="/projects/" @found="found"/>
        <div class="text-center">
          <button class="text-sm button button-secondary my-2"
            :disabled="loadings[0]" @click="fetchMore(0)">LOAD MORE</button>
        </div>
        <h1 class="text-lg text-center">Devlogs</h1>
        <search-result :results="results[1]" link="/devlogs/" @found="found"/>
        <div class="text-center">
          <button class="text-sm button button-secondary my-2"
            :disabled="loadings[1]" @click="fetchMore(1)">LOAD MORE</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core';
import { faSearch, faTimes } from '@fortawesome/free-solid-svg-icons';
import ApiService from '../../services/api.service';
import SearchResult from './SearchResult.vue';

library.add(faSearch, faTimes);

export default {
  name: 'SearchBar',
  components: { SearchResult },
  data() {
    return {
      loading: false,
      searchText: '',
      limits: [6, 10],
      showResults: false,
      queries: [
        '/projects/search',
        '/devlogs/search',
      ],
      results: [[], []],
      loadings: [
        false, false,
      ],
    };
  },
  methods: {
    found() {
      this.showResults = false;
    },
    processResponse({ status, data }) {
      if (status === 200 && !data.error) {
        return data.data;
      }
      return [];
    },
    async fetch(i, limit, offset) {
      this.$set(this.loadings, i, true);
      ApiService.post(
        `${this.queries[i]}?limit=${limit}&offset=${offset}`,
        { data: this.searchText },
      ).then((response) => {
        const result = this.processResponse(response);
        this.$set(this.results, i, [...this.results[i], ...result]);

        if (result.length === limit) {
          this.$set(this.loadings, i, false);
        }
      });
    },
    fetchAll() {
      this.showResults = false;
      this.results = [[], []];
      Promise.all(this.queries.map((query, i) => this.fetch(i, this.limits[i], 0))).then(() => {
        this.showResults = true;
      });
    },
    fetchMore(i) {
      this.fetch(i, this.limits[i], this.results[i].length);
    },
  },
};
</script>

<style lang="scss" scoped>
.search-result {
  @apply absolute pt-4 left-0 w-full;
  top: 100%;
}
</style>
