<template>
    <div>
      <div v-for="result in results" :key="result._id"
        class="mb-1">
        <div @click="found(result._id)">
          <p class="link">{{result.title}}</p>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: 'SearchResult',
  props: {
    results: {
      type: Array,
      required: true,
    },
    link: {
      type: String,
      required: true,
    },
  },
  methods: {
    found(id) {
      this.$emit('found');
      this.$router.push(`${this.link}${id}`);
    },
  },
};
</script>
