<template>
  <div>
    <input class="" type="file" id="image" v-on:change="uploadImage($event)" accept="image/png, image/jpeg" />
    <div class="flex border overflow-auto m-1">
      <ul  id="image_list" class="inline-block" >
        <li v-for="imagePath in imagesPaths" :key="imagePath" class="m-1 flex flex-row items-center justify-between">
          <img :src="imagePath" class="h-48 w-auto flex-1 rounded-lg" />
          <div class="flex-growth text-center mr-2 ml-2">  </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import store from '@/store';


export default {
  name: 'imageUploader',
  props: {
    uploadPath: {
      type: String,
    },
  },
  methods: {
    uploadImage(event) {
      store.dispatch('images/uploadImage', { uploadPath: this.$props.uploadPath, file: event.target.files[0] });
    },
  },
  computed: {
    ...mapGetters('images', ['imagesPaths']),
  },
};
</script>
