<template>
  <nav class="w-full mx-auto px-4 py-8 flex flex-col md:flex-row
    justify-between items-center">
    <div class="flex justify-between items-center w-full md:w-auto">
      <Logo/>
      <fa-icon :icon="toggleButtonIcon" size="2x"
        class="block md:hidden" v-on:click="toggleNavigation"/>
    </div>
    <div class="w-full md:w-auto">
      <div id="navigation" class="flex flex-col md:flex-row items-center justify-center mt-4"
        v-if="shouldShowNavigation">
        <router-link class="my-2 link mr-0 md:mr-8" to="/">Home</router-link>
        <router-link class="my-2 link mr-0 md:mr-8" to="/projects">Projects</router-link>
        <router-link class="my-2 link mr-0 md:mr-8" to="/devlogs">Devlogs</router-link>
        <router-link v-if="isAuthenticated" class="my-2 link mr-0 md:mr-8" to="/dashboard/profile">Dashboard</router-link>
        <router-link v-if="isAuthenticated" class="my-2 link" to="/logout">Log out</router-link>
        <router-link v-if="!isAuthenticated" class="my-2 button button-secondary" to="/login">Sign In</router-link>
      </div>
      <SearchBar class="mt-4 md:mt-0"/>
    </div>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex';
import { library } from '@fortawesome/fontawesome-svg-core';
import { faBars, faTimes } from '@fortawesome/free-solid-svg-icons';
import SearchBar from './searchbar/SearchBar.vue';
import Logo from './Logo.vue';

library.add(faBars, faTimes);

export default {
  name: 'MainNvbar',
  components: {
    SearchBar,
    Logo,
  },
  data() {
    return {
      showNavigation: false,
    };
  },
  computed: {
    shouldShowNavigation() {
      return ['md', 'lg', 'xl'].includes(this.$mq) || this.showNavigation;
    },
    toggleButtonIcon() {
      return this.shouldShowNavigation ? 'times' : 'bars';
    },
    ...mapGetters('user', ['isAuthenticated']),
  },
  methods: {
    toggleNavigation() {
      this.showNavigation = !this.showNavigation;
    },
  },
};
</script>
