<template>
  <div class="w-4/5">
    <editor-menu-bar :editor="editor" v-slot="{ commands, isActive }">
      <div id="editor-menu-bar" class="flex justify-left flex-wrap text-xs ">
        <button
          :class="`hidden sm:block button button-secondary text-xs ${isActive.heading({ level: 1 }) ? 'is-active' : ''}`"
          @click="commands.heading({ level: 1 })"
        >H1</button>

        <button
          :class="`hidden sm:block button button-secondary text-xs ${isActive.heading({ level: 2 }) ? 'is-active' : ''}`"
          @click="commands.heading({ level: 2 })"
        >H2</button>

        <button
          :class="`hidden sm:block button button-secondary text-xs ${isActive.heading({ level: 3 }) ? 'is-active' : ''}`"
          @click="commands.heading({ level: 3 })"
        >H3</button>

        <button
          :class="`hidden sm:block button button-secondary ${isActive.bold() ? 'is-active' : ''}`"
          @click="commands.bold"
        >
          <fa-icon class="text-sm" icon="bold" />
        </button>

        <button
          :class="`hidden sm:block button button-secondary ${isActive.italic() ? 'is-active' : ''}`"
          @click="commands.italic"
        >
          <fa-icon class="text-sm" icon="italic" />
        </button>

        <button
          :class="`hidden sm:block button button-secondary ${isActive.strike() ? 'is-active' : ''}`"
          @click="commands.strike"
        >
          <fa-icon class="text-sm" icon="strikethrough" />
        </button>

        <button
          :class="`hidden sm:block button button-secondary ${isActive.underline() ? 'is-active' : ''}`"
          @click="commands.underline"
        >
          <fa-icon class="text-sm" icon="underline" />
        </button>

        <button
          :class="`hidden sm:block button button-secondary ${isActive.code() ? 'is-active' : ''}`"
          @click="commands.code"
        >
          <fa-icon  class="text-sm" icon="code" />
        </button>

        <button
          :class="`hidden sm:block button button-secondary ${isActive.bullet_list() ? 'is-active' : ''}`"
          @click="commands.bullet_list"
        >
          <fa-icon  class="text-sm" icon="list-ul" />
        </button>

        <button
          :class="`hidden sm:block button button-secondary ${isActive.ordered_list() ? 'is-active' : ''}`"
          @click="commands.ordered_list"
        >
          <fa-icon class="text-sm" icon="list-ol" />
        </button>

        <button
          :class="`hidden sm:block button button-secondary ${isActive.blockquote() ? 'is-active' : ''}`"
          @click="commands.blockquote"
        >
          <fa-icon  class="text-sm" icon="quote-right" />
        </button>

        <button class="hidden sm:block button button-secondary" @click="showImagePrompt(commands.image)">
          <fa-icon class="text-sm" icon="image" />
        </button>

      </div>
    </editor-menu-bar>
<div class="h">
    <div id="editor-content" class="text-center text-justify input">
      <editor-content class="markdown h-64" :editor="editor"/>
    </div>
</div>

  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core';
import {
  faBold,
  faItalic,
  faStrikethrough,
  faUnderline,
  faCode,
  faListUl,
  faListOl,
  faQuoteRight,
  faImage,
  faTable,
} from '@fortawesome/free-solid-svg-icons';
import { Editor, EditorContent, EditorMenuBar } from 'tiptap';
import {
  Blockquote,
  CodeBlock,
  HardBreak,
  Heading,
  OrderedList,
  BulletList,
  ListItem,
  TodoItem,
  TodoList,
  Bold,
  Code,
  Italic,
  Link,
  Image,
  Strike,
  Underline,
  History,
  Table,
  TableHeader,
  TableCell,
  TableRow,
} from 'tiptap-extensions';

library.add(
  faBold,
  faItalic,
  faStrikethrough,
  faUnderline,
  faCode,
  faListUl,
  faListOl,
  faQuoteRight,
  faImage,
  faTable,
);

export default {
  name: 'markdown',
  components: {
    EditorMenuBar,
    EditorContent,
  },
  props: {
    initialContent: {
      type: String,
    },
  },
  data() {
    return {
      editor: new Editor({
        extensions: [
          new Blockquote(),
          new CodeBlock(),
          new HardBreak(),
          new Heading({ levels: [1, 2, 3] }),
          new BulletList(),
          new OrderedList(),
          new ListItem(),
          new TodoItem(),
          new TodoList(),
          new Bold(),
          new Code(),
          new Italic(),
          new Link(),
          new Strike(),
          new Underline(),
          new History(),
          new Image(),
          new Table({
            resizable: true,
          }),
          new TableHeader(),
          new TableCell(),
          new TableRow(),
        ],
        content: this.$props.initialContent,
        onUpdate: ({ getHTML }) => {
          this.html = getHTML();
          this.$emit('inputData', this.html);
        },
      }),
      html: '',
    };
  },
  methods: {
    showImagePrompt(command) {
      const src = prompt('Enter the url of your image here');
      if (src !== null) {
        command({ src });
      }
    },
    // toMarkdown(html) {
    //    const showdown = require('showdown');
    //   const converter = new showdown.Converter();
    //   return converter.makeMarkdown(html);
    // },
  },
  beforeDestroy() {
    this.editor.destroy();
  },
};
</script>

<style lang="postcss" scoped>
#editor-menu-bar button {
  @apply mr-2 my-1;
}

#editor-content {
  @apply border-solid border-2 border-blue-dark overflow-y-scroll;
}
.ProseMirror-focused {
  @apply outline-none border-0 bg-red-500;
}
</style>

<style lang="postcss">
.ProseMirror-focused {
  @apply outline-none;
}
</style>
