<template>
  <!-- <nav class="w-full mx-auto px-4 py-8 flex flex-col md:flex-row
    justify-between items-center"> -->
    <div>
    <div class="flex justify-between items-center w-full md:w-auto">
      <fa-icon :icon="toggleButtonIcon" size="2x"
        class="block md:hidden" v-on:click="toggleNavigation"/>
    </div>
    <div class="w-full md:w-auto">
      <div id="navigation" class="flex flex-col md:flex-row items-center justify-center mt-4"
        v-if="shouldShowNavigation">
        <router-link class="my-2 link mr-0 md:mr-16" to="/">Home</router-link>
        <router-link class="my-2 link mr-0 md:mr-16" to="/">Organization</router-link>
        <router-link class="my-2 link mr-0 md:mr-16" to="/projects">Projects</router-link>
        <router-link class="my-2 button-secondary" to="/">Sign In</router-link>
      </div>
      <SearchBar class="mt-4 md:mt-0"/>
    </div>
    </div>
  <!-- </nav> -->
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core';
import { faBars, faTimes } from '@fortawesome/free-solid-svg-icons';
import SearchBar from './searchbar/SearchBar.vue';

library.add(faBars, faTimes);

export default {
  name: 'MainNvbar',
  components: {
    SearchBar,
  },
  data() {
    return {
      showNavigation: false,
    };
  },
  methods: {
    toggleNavigation() {
      this.showNavigation = !this.showNavigation;
    },
  },
  computed: {
    shouldShowNavigation() {
      return ['md', 'lg', 'xl'].includes(this.$mq) || this.showNavigation;
    },
    toggleButtonIcon() {
      return this.shouldShowNavigation ? 'times' : 'bars';
    },
  },
};
</script>
