<template>
  <div class="w-full bg-blue-light py-8 px-4 md:px-16 text-white-transparent">
    <h1 class="text-center text-2xl mb-4">Comments</h1>
    <div class="flex justify-center mb-4">
      <CommentForm :id="id" :type="type" @sent="sent" class="w-full md:w-2/3 lg:w-1/2" />
    </div>
    <Comment v-for="comment in comments" :key="comment._id" :comment="comment" />
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core';
import { faCaretDown, faCaretUp } from '@fortawesome/free-solid-svg-icons';
import ApiService from '../../services/api.service';
import Comment from './Comment.vue';
import CommentForm from './CommentForm.vue';

library.add(faCaretDown, faCaretUp);

export default {
  name: 'Comments',
  components: { Comment, CommentForm },
  props: {
    id: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      comments: [],
    };
  },
  methods: {
    sent(comment) {
      this.comments = [comment, ...this.comments];
    },
    fetchComments() {
      this.loading = true;
      ApiService.get(`/comments?parent=${this.id}&populate=author`).then(
        ({ status, data }) => {
          if (status === 200 && !data.error) {
            this.comments = data.data;
          }
          this.loading = false;
        },
      );
    },
  },
  mounted() {
    this.fetchComments();
  },
  watch: {
    id() {
      this.fetchComments();
    },
    type() {
      this.fetchComments();
    },
  },
};
</script>
