<template>
  <div class="w-full">
    <div class="flex justify-between items-baseline mb-2">
      <h2
        class="text-cyan-light text-lg font-normal"
      >{{comment.author.firstname}} {{comment.author.lastname}}</h2>
      <p class="text-sm italic">Written on {{formatDate(comment.creationDate)}}</p>
    </div>
    <p class="ml-4 mb-4 text-justify">{{comment.content}}</p>
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core';
import { faCaretDown } from '@fortawesome/free-solid-svg-icons';
import dateFormat from 'dateformat';

library.add(faCaretDown);

export default {
  name: 'CommentData',
  props: {
    comment: {
      type: Object,
      required: true,
    },
  },
  methods: {
    formatDate(dateString) {
      const date = new Date(dateString);
      return dateFormat(date, 'dd.mm.yyyy HH:MM');
    },
  },
};
</script>
