<template>
  <div class="flex flex-col">

    <textarea placeholder="Something to say?" v-model="content"
      :class="`input w-full mb-2 ${message !== '' ? 'input-error' : ''}`" />
    <div class="flex flex-row items-center">
      <div class="w-1/5"></div>
      <div class="flex-1 px-2 text-center text-red-600 mb-2">
          {{message}}
      </div>
      <div class="w-1/5 flex justify-end">
        <button class="button button-primary h-auto" :disabled="loading"
          @click="sendComment">SEND</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import ApiService from '../../services/api.service';

export default {
  name: 'CommentForm',
  props: {
    id: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      content: '',
      last: '',
      loading: false,
      message: '',
    };
  },
  computed: {
    ...mapState('user', ['account']),
    ...mapGetters('user', ['isAuthenticated']),
  },
  methods: {
    sendComment() {
      this.message = '';

      if (!this.isAuthenticated) {
        this.message = 'You must sign in!';
        return;
      }

      if (this.content === '') {
        this.message = 'The comment is empty!';
        return;
      }
      if (this.content === this.last) {
        this.message = 'You just said that!';
        return;
      }

      if (!this.loading) {
        this.loading = true;
        ApiService.post('/comments', {
          content: this.content, parent: this.id, parentType: this.type,
        }, true).then(({ status, data }) => {
          if (status === 200 && !data.error) {
            const response = data.data;
            response.author = this.account;
            this.$emit('sent', response);
            this.last = this.content;
            this.content = '';
          } else {
            this.message = 'Comment not sent!';
          }
        }).catch(() => {
          this.message = 'Comment not sent!';
        }).finally(() => {
          this.loading = false;
        });
      }
    },
  },
};
</script>
