<template>
  <div>
    <div>
      <CommentData :comment="comment" />
      <div class="link cursor-pointer text-xs mb-4">
        <span v-if="toggle" @click="toggleResponses(false)">
          HIDE RESPONSES
          <fa-icon icon="caret-up" class="ml-1" />
        </span>
        <span v-else @click="toggleResponses(true)">
          SHOW RESPONSES
          <fa-icon icon="caret-down" class="ml-1" />
        </span>
      </div>
    </div>
    <div v-if="toggle" class="ml-8">
      <div v-if="responses.length > 0" >
        <div v-for="response in responses" :key="response._id">
          <hr class="border-blue-dark mb-4" />
          <CommentData :comment="response" />
        </div>
      </div>
      <hr class="border-blue-dark mb-4" />
      <div class="flex justify-center mb-4">
        <CommentForm :id="comment._id" type="Comment" @sent="sent" class="mb-2 w-full md:w-2/3 lg:w-1/2"/>
      </div>
      <hr class="border-blue-dark -ml-8 mb-4" />
    </div>
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core';
import { faCaretDown, faCaretUp } from '@fortawesome/free-solid-svg-icons';
import ApiService from '../../services/api.service';
import CommentData from './CommentData.vue';
import CommentForm from './CommentForm.vue';

library.add(faCaretDown, faCaretUp);

export default {
  name: 'Comments',
  components: { CommentData, CommentForm },
  props: {
    comment: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      responses: [],
      loading: false,
      toggle: false,
    };
  },
  methods: {
    fetchResponses() {
      if (!this.loading) {
        this.loading = true;
        ApiService.get(`/comments?parent=${this.comment._id}&populate=author`).then(
          ({ status, data }) => {
            if (status === 200 && !data.error) {
              this.responses = data.data;
              this.loading = false;
            }
          },
        );
      }
    },
    toggleResponses(toggle) {
      this.toggle = toggle;
      if (this.comment.responses.length > 0) {
        this.fetchResponses();
      }
    },
    sent(response) {
      this.responses = [response, ...this.responses];
    },
  },
};
</script>
