<template>
  <div id="app" class="flex flex-col justify-between min-h-screen w-full">
    <MainNavbar/>
    <div class="flex-1"><router-view /></div>
    <Footer />
  </div>
</template>

<script>
import MainNavbar from '../components/MainNavbar.vue';
import Footer from '../components/Footer.vue';

export default {
  components: {
    MainNavbar,
    Footer,
  },
};
</script>
