<template>
  <div id="app" class="flex flex-col justify-between w-full md:w-auto">
    <div class="flex justify-between items-center w-full md:w-auto md:absolute">
      <Logo class="md:hidden ml-2 mt-2" v-show="!shouldShowNavigation" />
      <LogoLight class="md:hidden w-5/6 sm:w-3/6 bg-blue-light" v-show="shouldShowNavigation" />
      <fa-icon
        :icon="toggleButtonIcon"
        size="2x"
        class="block md:hidden mr-2"
        v-on:click="toggleNavigation"
      />
    </div>

    <div id="sidebar" class="min-h-screen flex">
      <div
        class="flex-initial min-h-screen md:min-h-full w-5/6 sm:w-3/6 md:w-2/6 bg-blue-light text-white-transparent absolute md:relative rounded-br-lg md:rounded-none"
        v-if="shouldShowNavigation"
      >
        <!---logo --->
        <LogoLight class="flex-1 mb-8 hidden md:block" />

        <div class="flex">
          <div class="flex-1 overflow-auto bg-blue-light mb-4 pr-8 w-full md:w-1/4">
            <div class="px-6 pb-4 mb-2 mt-4 mb-8">
              <div class="uppercase text-white-transparent tracking-wide text-c2 mb-4">Dashboard</div>
              <div class="flex cursor-pointer px-4 py-2 text-lg">
                <router-link class="hover:text-white-base pl-2" to="/dashboard/profile">
                  <fa-icon class="flex-1 text-xl pr-2 align-text-bottom" icon="user" />Profile
                </router-link>
              </div>
              <div class="flex cursor-pointer px-4 py-2 text-lg">
                <router-link class="hover:text-white-base pl-2" to="/dashboard/settings">
                  <fa-icon class="flex-1 text-xl pr-2 align-text-bottom" icon="wrench" />Settings
                </router-link>
              </div>
              <div class="flex cursor-pointer px-4 py-2 text-lg">
                <router-link class="hover:text-white-base pl-2" to="/logout">
                  <fa-icon class="flex-1 text-xl pr-2 align-text-bottom" icon="sign-out-alt" />Log out
                </router-link>
              </div>
              <hr class="border border-blue-dark" />
              <div class="whitespace-no-wrap">
                <div class="flex-1 uppercase text-white-transparent tracking-wide mb-1 mt-4 mr-10">
                  My Projects
                  <fa-icon
                    class="inline-block text-2xl pl-2 align-bottom link cursor-pointer"
                    icon="plus"
                    v-on:click="newProject"
                  />
                </div>
              </div>

              <div
                class="block cursor-pointer pr-5 pl-6 pt-0 pb-3 text-lg h-56 overflow-auto bg-blue-dark rounded-lg mb-8"
                v-if="projects != null && projects.length!=0"
              >
                <ul class="list-none">
                  <router-link
                    class="text-white-transparent pl-2"
                    v-for="project in projects"
                    :key="project._id"
                    :to="{ name: 'project', params :{ id: project._id }}"
                  >
                    <li class="flex hover:text-white-base">
                      <fa-icon class="flex-initial text-xl pr-2" icon="bookmark" />
                      {{project.title}}
                    </li>
                  </router-link>
                </ul>
              </div>
              <hr class="border border-blue-dark" />
            </div>
          </div>
        </div>
      </div>

      <div class="flex-initial w-full">
        <router-view />
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import { mapState } from 'vuex';
import {
  faBars,
  faTimes,
  faBookmark,
  faSignOutAlt,
  faWrench,
  faUser,
  faPlus,
} from '@fortawesome/free-solid-svg-icons';
import { library } from '@fortawesome/fontawesome-svg-core';
import Footer from '../components/Footer.vue';
import LogoLight from '../components/LogoClair.vue';
import ApiService from '../services/api.service';
import Logo from '../components/Logo.vue';

library.add(
  faBars,
  faTimes,
  faBookmark,
  faSignOutAlt,
  faWrench,
  faUser,
  faPlus,
);
export default {
  components: {
    LogoLight,
    Footer,
    Logo,
  },

  data() {
    return {
      projects: null,
      showNavigation: false,
    };
  },
  computed: {
    shouldShowNavigation() {
      return ['md', 'lg', 'xl'].includes(this.$mq) || this.showNavigation;
    },
    toggleButtonIcon() {
      return this.shouldShowNavigation ? 'times' : 'bars';
    },
    ...mapState('user', ['user', 'account']),
  },
  methods: {
    async getUserProject(id) {
      const { error, data } = await ApiService.get(`/projects?owner=${id}`);
      if (!error) {
        return data.data;
      }
      return false;
    },
    newProject() {
      this.$router.push({ name: 'new_project' });
    },
    toggleNavigation() {
      this.showNavigation = !this.showNavigation;
    },
  },

  mounted() {
    // gets the projects created by the user
    this.getUserProject(this.account._id).then((projects) => {
      this.projects = projects.filter(project => project != null);
    });
  },
};
</script>
