<template>
  <div class="flex items-center cursor-pointer" @click="toggleFavorite">
    <fa-icon :class="isFavorite ? 'text-yellow-400' : 'text-gray-500'" icon="star" size="1x" />
    <span class="ml-2">{{ count >= 0 ? count : 0 }}</span>
    <span class="ml-2 hidden md:block">favorites</span>
  </div>
</template>

<script>
export default {
  name: 'FavoriteCount',
  props: {
    project: {
      type: String,
      default: null,
    },
    isFavorite: {
      type: Boolean,
      default: false,
    },
    favoritesCount: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      favoriting: false,
      count: 0,
    };
  },
  methods: {
    async toggleFavorite() {
      if (this.project !== null && !this.favoriting) {
        this.favoriting = true;

        this.count += this.isFavorite ? -1 : 1;
        await this.$store.dispatch('user/favoriteProject', this.project);

        this.favoriting = false;
      }
    },
  },
  mounted() {
    this.count = this.favoritesCount;
  },
};
</script>
