<template>
  <div class="flex flex-col p-4 rounded-lg shadow-lg">
    <h1 class="text-center text-xl my-4">Login</h1>
    <div class="flex flex-col my-4">
      <input :class="`flex-1 my-2 input input-underlined ${error ? 'input-error' : ''}`"
        type="text" v-model="username" placeholder="Username" required>
      <input :class="`flex-1 my-2 input input-underlined ${error ? 'input-error' : ''}`"
        type="password" v-model="password" placeholder="Password" required>
    </div>
    <div v-if="error !== ''" class="text-center text-red-600">
      {{error}}
    </div>
    <div class="flex justify-around items-center my-4">
      <router-link class="text-sm text-gray-600 link" to="/register">REGISTER</router-link>
      <button class="button button-primary" @click="login">SIGN IN</button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'LoginForm',
  data() {
    return {
      username: '',
      password: '',
      error: '',
    };
  },
  computed: {
    ...mapState('user', ['user']),
  },
  methods: {
    async login() {
      const error = !(await this.$store.dispatch('user/login', {
        username: this.username,
        password: this.password,
      }));

      if (!error) {
        this.$store.dispatch('user/checkAuth').then((ok) => {
          if (ok) {
            this.error = '';
            this.$router.push('/dashboard/profile');
          } else {
            this.error = 'Connection failed!';
          }
        });
      } else {
        this.error = 'Username or password incorrect!';
      }
    },
  },
};
</script>
