<template>
  <div class="flex flex-col p-4 rounded-lg shadow-lg">
    <h1 class="text-center text-xl my-4">Register</h1>
    <div class="flex flex-col my-4">
      <input class="flex-1 input input-underlined my-2" type="text" v-model="username" placeholder="Username" required>
      <input class="flex-1 input input-underlined my-2" type="email" v-model="email" placeholder="E-mail" required>
      <input class="flex-1 input input-underlined my-2" type="password" v-model="password" placeholder="Password" required>
      <input class="flex-1 input input-underlined my-2" type="password" v-model="confirmPassword" placeholder="Confirm Password" required>
    </div>
    <div v-if="error" class="text-center text-red-600">
      Registration failed!
    </div>
    <div v-else-if="!error && done" class="text-center text-green-600">
      <p>Registration success.</p>
      <p>Please verify your e-mail address!</p>
    </div>
    <div class="flex justify-around items-center my-4">
      <router-link class="text-sm text-gray-600 link" to="/login">SIGN IN</router-link>
      <button class="button button-primary" @click="register">SIGN UP</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RegisterForm',
  data() {
    return {
      username: '',
      email: '',
      password: '',
      confirmPassword: '',
      error: false,
      done: false,
    };
  },
  methods: {
    async register() {
      this.done = false;
      this.error = false;

      if (this.password !== this.confirmPassword) {
        this.error = true;
        return;
      }

      this.error = !(await this.$store.dispatch('user/register', {
        username: this.username,
        email: this.email,
        password: this.password,
      }));
      this.done = true;
    },
  },
};
</script>
